<div class="right-container">
  <div class="recent-updates">
      <h2>Son Gelen Mesajlar</h2>
      <div class="updates box-shadow-effect">
          <div class="update">
              <img class="profile-photo" src="./assets/profile-2.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

          <div class="update">
              <img class="profile-photo" src="./assets/profile-1.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

          <div class="update">
              <img class="profile-photo" src="./assets/profile-3.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

      </div>
  </div>
</div>
<div class="right-container">
  <div class="recent-updates">
      <h2>Son Gelen Mesajlar</h2>
      <div class="updates box-shadow-effect">
          <div class="update">
              <img class="profile-photo" src="./assets/profile-2.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

          <div class="update">
              <img class="profile-photo" src="./assets/profile-1.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

          <div class="update">
              <img class="profile-photo" src="./assets/profile-3.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

      </div>
  </div>
</div>
<div class="right-container">
  <div class="recent-updates">
      <h2>Son Gelen Mesajlar</h2>
      <div class="updates box-shadow-effect">
          <div class="update">
              <img class="profile-photo" src="./assets/profile-2.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

          <div class="update">
              <img class="profile-photo" src="./assets/profile-1.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

          <div class="update">
              <img class="profile-photo" src="./assets/profile-3.jpg" alt="">
              <div class="message">
                  <p><b>Muammer Karaca</b> </p>
                  <p> Ben bu keto diyeti ne yapıcam</p>
                  <small class="custom-muted">2 Dakika Önce</small>
              </div>
          </div>

      </div>
  </div>
</div>
