@{
    ViewData["Title"] = "Home Page";
}
@section styles
{
	<link href="~/css/home.css" rel="stylesheet" />
}
<header>
    <div class="conts header__container">
        <div class="header__left">
            <h1>Merhaba Biz Cadde Form !</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus repudiandae rem labore
                consectetur et ea, eos rerum, itaque veniam magni suscipit! In, quibusdam autem nesciunt aliquam
                natus saepe iste fugiat.
            </p>
            <a href="#" class="btns btn-primary">Hadi Başlayalım</a>
        </div>
        <div class="header__right">
            <div class="header__right-image">
                <img src="./images/header.svg" alt="header pilates, diet image">
            </div>
        </div>
    </div>
</header>
<section class="works-info-section">
    <div class="conts worksinfo__container">
        <div class="worksinfo__left">
            <h2>Bizimle daha tanışmadınız mı?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus repudiandae rem labore.</p>
            <a href="#" class="btns">Hadi Başlayalım</a>
        </div>
        <div class="worksinfo__right">
            <h2>Çalışma Saatlerimiz</h2>
            <h4>Pazartesi - Cuma</h4>
            <p>07:30 - 20:30</p>
            <h4>Cumartesi - Pazar</h4>
            <p>10:30 - 17:30</p>
        </div>
    </div>
</section>
<!-- BİZ KİMİZ -->
<section class="categories__section">
    <div class="conts about__container">
        <div class="about__left">
            <h2>Merhaba, Biz Cadde Form!</h2>
            <br>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita incidunt nobis itaque, unde,
                libero quisquam totam veniam natus officiis impedit
            </p>
            <br>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita incidunt nobis itaque, unde,
                libero quisquam totam veniam natus officiis impedit
            </p>
        </div>
        <div class="about__right">
            <div class="cards">
                <div class="background"></div>
                <div class="cards-image">
                    <img src="./images/ccc.jpeg" alt="">
                </div>
                <div class="cards-items">
                    <h4>Sinem Karaca</h4>
                    <p>Diyetisyen</p>
                    <p>Plates Uzmanı</p>
                </div>
            </div>
            <div class="cards">
                <div class="background"></div>
                <div class="cards-image">
                    <img src="./images/bbb.jpeg" alt="">
                </div>
                <div class="cards-items">
                    <h4>Hande Yılmaz</h4>
                    <p>Fizyo Terapist</p>
                    <p>Plates Uzmanı</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-section">
    <div class="conts services__container">
        <div class="services__top">
            <p>Sağlıklı Bir Vücut İçin</p>
            <h2>Hizmetlerimiz</h2>
        </div>
        <div class="services__bottom">
            <div class="service">
                <div class="service_image">
                    <img src="./images/dd.jpg" alt="">
                </div>
                <div class="service_items">
                    <h4>Yüz Yüze Diyet</h4>
                </div>
            </div>
            <div class="service">
                <div class="service_image">
                    <img src="./images/cc.jpg" alt="">
                </div>
                <div class="service_items">
                    <h4>Yüz Yüze Pilates</h4>
                </div>
            </div>
            <div class="service">
                <div class="service_image">
                    <img src="./images/vv.jpg" alt="">
                </div>
                <div class="service_items">
                    <h4>Online Diyet</h4>
                </div>
            </div>
            <div class="service">
                <div class="service_image">
                    <img src="./images/dd.jpg" alt="">
                </div>
                <div class="service_items">
                    <h4>Online Pilates</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="conts testimonials__container mySwiper">
    <h2>Öğrencilerimiz</h2>
    <div class="swiper-wrapper">
        <article class="testimonial swiper-slide ">
            <div class="avatar">
                <img src="./images/avatar1.jpg" alt="">
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maxime soluta? Adipisci
                    dolor
                    a maxime reprehenderit vitae corrupti voluptatibus! Dolor explicabo cum rerum sed, quisquam
                    repellendus fugit minima esse iusto?
                </p>
            </div>
        </article>

        <article class="testimonial swiper-slide ">
            <div class="avatar">
                <img src="./images/avatar2.jpg" alt="">
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maxime soluta? Adipisci
                    dolor
                    a maxime reprehenderit vitae corrupti voluptatibus! Dolor explicabo cum rerum sed, quisquam
                    repellendus fugit minima esse iusto?
                </p>
            </div>
        </article>


        <article class="testimonial swiper-slide ">
            <div class="avatar">
                <img src="./images/avatar3.jpg" alt="">
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maxime soluta? Adipisci
                    dolor
                    a maxime reprehenderit vitae corrupti voluptatibus! Dolor explicabo cum rerum sed, quisquam
                    repellendus fugit minima esse iusto?
                </p>
            </div>
        </article>


        <article class="testimonial swiper-slide ">
            <div class="avatar">
                <img src="./images/avatar4.jpg" alt="">
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maxime soluta? Adipisci
                    dolor
                    a maxime reprehenderit vitae corrupti voluptatibus! Dolor explicabo cum rerum sed, quisquam
                    repellendus fugit minima esse iusto?
                </p>
            </div>
        </article>

        <article class="testimonial swiper-slide ">
            <div class="avatar">
                <img src="./images/avatar5.jpg" alt="">
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maxime soluta? Adipisci
                    dolor
                    a maxime reprehenderit vitae corrupti voluptatibus! Dolor explicabo cum rerum sed, quisquam
                    repellendus fugit minima esse iusto?
                </p>
            </div>
        </article>

        <article class="testimonial swiper-slide ">
            <div class="avatar">
                <img src="./images/avatar6.jpg" alt="">
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, maxime soluta? Adipisci
                    dolor
                    a maxime reprehenderit vitae corrupti voluptatibus! Dolor explicabo cum rerum sed, quisquam
                    repellendus fugit minima esse iusto?
                </p>
            </div>
        </article>
    </div>
    <div class="swiper-pagination"></div>
</section>
<!-- CONTACT -->
<section class="contact-section" id="contact">
    <div class="conts contact__container">
        <div class="contact__left">
            <h2>Sen Sor Biz Geri Dönelim !</h2>
            <form action="#" method="post" class="contact-form webform">
                <input type="text" class="form-control" name="cf-name" placeholder="Name">

                <input type="email" class="form-control" name="cf-email" placeholder="Email">

                <textarea rows="5" name="cf-message" placeholder="Message"></textarea>

                <button type="submit" class="contact-submit">
                    Send
                    Message
                </button>
            </form>
        </div>

        <div class="contact__right">
            <h2>Bizi Nasıl Bulabilirsin ?</h2>
            <p>
                <i class="fa fa-map-marker mr-1"></i> İstanbul / Kadıköy bilmem ne caddesi bilmem ne sokağı no:36
                daire:10
            </p>
            <div class="google-map">
                <iframe src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
</section>


