@{
	ViewData["Title"] = "Index";
}

@section styles
{
	<link href="css\package.css" rel="stylesheet" />
}
<div class="package-img-body">
</div>

<section class="package-page-section">
	<div class="conts package__container">
		<div class="package-card">
			<div class="img-background">
				<div class="package-symbol">
					<i class="fa-solid fa-plate-wheat"></i>
				</div>
				<div class="package-card-image">
					<img src="/images/diet-package.jpg" alt="">
				</div>
			</div>
			<div class="package-card-body">
				<h3>Yüz Yüze Diyet</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic.</p>
			</div>
			<div class="package-footer">
				<div class="basket-count">
					<i class="fa-solid fa-minus"></i>
					<div class="count">
						<h5>0</h5>
					</div>
					<i class="fa-solid fa-plus"></i>
				</div>
				<div class="package-button">
					<button type="button">
						Sepete Ekle
					</button>
				</div>
			</div>
		</div>
		<div class="package-card">
			<div class="img-background">
				<div class="package-symbol">
					<i class="fa-solid fa-plate-wheat"></i>
				</div>
				<div class="package-card-image">
					<img src="/images/diet-package.jpg" alt="">
				</div>
			</div>
			<div class="package-card-body">
				<h3>Yüz Yüze Diyet</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic.</p>
			</div>
			<div class="package-footer">
				<div class="basket-count">
					<i class="fa-solid fa-minus"></i>
					<div class="count">
						<h5>0</h5>
					</div>
					<i class="fa-solid fa-plus"></i>
				</div>
				<div class="package-button">
					<button type="button">
						Sepete Ekle
					</button>
				</div>
			</div>
		</div>
		<div class="package-card">
			<div class="img-background">
				<div class="package-symbol">
					<i class="fa-solid fa-plate-wheat"></i>
				</div>
				<div class="package-card-image">
					<img src="/images/diet-package.jpg" alt="">
				</div>
			</div>
			<div class="package-card-body">
				<h3>Yüz Yüze Diyet</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic.</p>
			</div>
			<div class="package-footer">
				<div class="basket-count">
					<i class="fa-solid fa-minus"></i>
					<div class="count">
						<h5>0</h5>
					</div>
					<i class="fa-solid fa-plus"></i>
				</div>
				<div class="package-button">
					<button type="button">
						Sepete Ekle
					</button>
				</div>
			</div>
		</div>
		<div class="package-card">
			<div class="img-background">
				<div class="package-symbol">
					<i class="fa-solid fa-plate-wheat"></i>
				</div>
				<div class="package-card-image">
					<img src="/images/diet-package.jpg" alt="">
				</div>
			</div>
			<div class="package-card-body">
				<h3>Yüz Yüze Diyet</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, hic.</p>
			</div>
			<div class="package-footer">
				<div class="basket-count">
					<i class="fa-solid fa-minus"></i>
					<div class="count">
						<h5>0</h5>
					</div>
					<i class="fa-solid fa-plus"></i>
				</div>
				<div class="package-button">
					<button type="button">
						Sepete Ekle
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
