
@{
    ViewData["Title"] = "SignUp";
}

@section styles
{
	<link href="\css\sign.css" rel="stylesheet" />

}

<section class="login-section">
	<div class="login_container">
		<div class="login__left">
			<div class="login__left-stick">
				<h3>Hadi Durma Giriş Yap</h3>
				<p>Zaten kayıt oldun mu ? Hemen aşağıdan giriş yap</p>
				<a href="#">Giriş Yap</a>
			</div>
		</div>
		<div class="login__right">
			<h1>Merhaba Biz <span>Cadde Form</span></h1>
			<p>Hemen aşağıdan kayıt olarak bizim ailemize katıl!</p>
			<form>
				<div class="forms-login-group">
					<i class="fa-regular fa-envelope"></i>
					<input type="text" placeholder="Adınız">
				</div>
				<div class="forms-login-group">
					<i class="fa-regular fa-envelope"></i>
					<input type="text" placeholder="Soyadınız">
				</div>
				<div class="forms-login-group">
					<i class="fa-regular fa-envelope"></i>
					<input type="email" placeholder="Email">
				</div>
				<div class="forms-login-group">
					<i class="fa-solid fa-lock"></i>
					<input type="password" placeholder="Şifreniz">
				</div>
				<button>Kayıt Ol</button>
			</form>
		</div>
	</div>
</section>