@{
	ViewData["Title"] = "SignIn";
}
@section styles
	{
	<link href="\css\sign.css" rel="stylesheet" />

}
	<section class="login-section">
		<div class="login_container">
			<div class="login__left">
				<div class="login__left-stick">
					<h3>Hadi Durma Giriş Yap</h3>
					<p>Beraber kocoman bir adım atalım, kayıt olmadıysan hemen aşağıdan kayıt ol</p>
					<a href="#">Kayıt Ol</a>
				</div>
			</div>
			<div class="login__right">
				<h1>Merhaba Biz <span>Cadde Form</span></h1>
				<p>Merhaba Tekrardan! Hesabına giriş yaparak en son neler olduğundan haberder ol.</p>
				<form>
					<div class="forms-login-group">
						<i class="fa-regular fa-envelope"></i>
						<input type="email" placeholder="Email">
					</div>
					<div class="forms-login-group">
						<i class="fa-solid fa-lock"></i>
						<input type="password" placeholder="Password">
					</div>
					<button> Giriş Yap</button>
				</form>
			</div>
		</div>
	</section>