<div class="login">
  <div class="login-content box-shadow-effect2">
    <div class="login-title">
      <h2>Cadde <span>Form</span></h2>
    </div>
    <div class="input-group">
      <div class="input">
        <label>Email</label>
        <input type="email" placeholder="Email adresi">
      </div>
      <div class="input">
        <label>Şifre</label>
        <input type="password" placeholder="Şifre">
      </div>
    </div>
      <button type="button">Giriş Yap</button>
    <div class="input-footer">
      <p><span>Karaca</span> Software</p>
    </div>
  </div>

</div>
