.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.login-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem;
  border-radius: 20px;
  width: 20rem;
  background: var(--color-background);
  height: 25rem;
}

.login-title h2 {
  font-size: 1.26rem;
  font-weight: 600;
  color: var(--color-info-dark);
}

.login-title h2 span {
  color: var(--color-danger);
  font-weight: 800;
}

.login-title h4 {
  font-size: 1.10rem;
  font-weight: 600;
  color: var(--color-info-dark);
}

.input-group {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input input {
  background-color: rgb(232, 240,254);
  padding: 0.8rem 1rem;
  color: black;
  border: none;
  outline: 20px 20px 0 0;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.input input:focus {
  color:#fff ;
  background-color: var(--color-danger);
}

.input input::placeholder {
  color: var(--color-info-dark);
}

.input label {
  margin-bottom: 5px;
  color: var(--color-info-dark);

}

.login button {
  background-color: var(--color-danger);
  padding: 10px;
  border: none;
  margin-top: 20px;
  width: 40%;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.input-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-footer {
  color: var(--color-info-dark);
}

.input-footer span {
  font-weight: 600;
}
