<aside>
  <div class="aside-items">
      <a routerLink="/admin">
          <span class="icon material-symbols-sharp">
              grid_view
          </span>
          <h3>Dashboard</h3>
      </a>
      <a href="#">
          <span class="icon material-symbols-sharp">
              group
          </span>
          <h3>Users</h3>
      </a>
      <a routerLink="/admin/movies" class="active">
          <span class="icon material-symbols-sharp">
              message
          </span>
          <h3>Movie Settings</h3>
          <!-- <span class="message-count">12</span> -->
      </a>
      <a href="#">
          <span class="icon material-symbols-sharp">
              monitor_weight
          </span>
          <h3>Category Settings</h3>
      </a>
  </div>
</aside>
