<div class="title">
  <h2>Genel Bilgi</h2>
</div>
<div class="left-container">
  <div class="user-general box-shadow-effect2">
    <div class="user-header">
      <div class="user-title">
        <h2>Muammer KARACA</h2>
      </div>
      <div class="img-area man">
        <div class="inner-area ">
          <img
            src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        </div>
      </div>
    </div>
    <div class="user-info">
      <div class="user-info-title">
        <h2>Bilgiler</h2>
      </div>
      <div class="user-info-content">
        <div class="user-info-left">
          <div class="left-item">
            <i class="fa-solid fa-phone"></i>
            <span>Telefon</span>
          </div>
          <div class="left-item">
            <i class="fa-solid fa-map-location"></i>
            <span>Adres</span>
          </div>
          <div class="left-item">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            <span>Kayıt Tarihi</span>
          </div>
          <div class="left-item">
            <i class="fa-solid fa-receipt"></i>
            <span>Hesap Durumu</span>
          </div>
        </div>
        <div class="user-info-right">
          <div class="right-item">
            <span>0552 467 3747</span>
          </div>
          <div class="right-item">
            <span>Talatpaşa mah. alakoç sok. no:36 daire:6</span>
          </div>
          <div class="right-item">
            <span>13.11.2021</span>
          </div>
          <div class="right-item">
            <span>Active</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="left-container">
  <div class="xpackage box-shadow-effect2">
    <div class="package-desc">
      <div class="package-desc-title-out">
        <div class="package-desc-title">
          <i class="fa-solid fa-utensils"></i>
          <h2>Diyet</h2>
        </div>
      </div>
      <div class="package-desc-content">
        <div class="package-desc-content-left">
          <h3>Kalan Hakkı</h3>
          <h3>Toplam Hafta</h3>
          <h3>Güncel Hafta</h3>
        </div>
        <div class="package-desc-content-right">
          <h3>5</h3>
          <h3>20</h3>
          <h3>5</h3>
        </div>
      </div>
      <div class="package-desc-buttons">
        <button>Paket Tanımla</button>
        <button>Anamnez Form</button>
      </div>
    </div>
    <div class="package-content">
      <div class="package-content-left">
        <div class="week-title">
          <i class="fa-regular fa-calendar-days"></i>
          <h3>Haftalar</h3>
        </div>
        <div class="week-content">
          <i class="fa-solid fa-circle-chevron-up"></i>
          <span class="pass">...</span>
          <span class="pass">1</span>
          <span class="active">2</span>
          <span class="not">3</span>
          <span class="not">4</span>
          <span class="not">5</span>
          <span class="not">...</span>
          <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
      </div>
      <div class="package-content-right">
        <h3>5</h3>
      </div>
    </div>
  </div>
</div>
<!--

<div class="left-container">
  <div class="user-general box-shadow-effect">
    <div class="user-package">
      <div class="user-diet">
        <div class="mtitle">
          <i class="fa-solid fa-utensils"></i>
          <h2>Diyet</h2>
        </div>
        <br>
        <hr>
        <br>
        <div class="mcontent">
          <div class="minfo">
            <div class="m-title">
              <h4>Kalan =</h4>
            </div>
            <h5>5</h5>
          </div>
          <div class="minfo weeks">
            <div class="m-title">
              <h4>Haftalar</h4>
            </div>
            <div class="weeks">
              <i class="fa-solid fa-chevron-left"></i>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="user-diet">
        <div class="mtitle">
          <i class="fa-solid fa-utensils"></i>
          <h2>Diyet</h2>
        </div>
        <br>
        <hr>
        <br>
        <div class="mcontent">
          <div class="minfo">
            <div class="m-title">
              <h4>Kalan =</h4>
            </div>
            <h5>5</h5>
          </div>
          <div class="minfo weeks">
            <div class="m-title">
              <h4>Haftalar</h4>
            </div>
            <div class="weeks">
              <i class="fa-solid fa-chevron-left"></i>
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="user-pilates">
        <div class="mtitle">
          <i class="fa-solid fa-dumbbell"></i>
          <h2>Pilates</h2>
        </div>
        <div class="mcontent">
          <div class="minfo">
            <h6>Paket Tanımlanmadı</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
